h1{
    text-align: center;
}

input{
    border: 0;
    margin: 10px;
    border-bottom:1px solid;
}
th {
    background-color: cornflowerblue;
    padding: 10px;
    text-align:left;
    border-right: 1px solid;
    border-left: 1px solid;
}
td{
    padding:4px;
}