
    
h1{
    text-align: center;
    background-color: cadetblue;
    
}
body{
    max-width: 900px;
  margin: 0 auto;
  height: 600px;
  
}


input{
    border: 0;
    margin: 10px;
    border-bottom:1px solid;
}
#empTable{
    border:1px solid;
    border-color: rgb(221,221,221);
    background-color: white;
}
th {
    background-color: cornflowerblue;
    padding: 10px;
    text-align:left;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom:2px solid;
    border-bottom-color: black;
}
td{
    padding:4px;
    border-right:1px solid;
    border-color: rgb(221,221,221);
    border-bottom:1px solid;
    border-bottom-color:rgb(221,221,221);
}
tr:nth-child(even){
    background-color: rgb(192, 205, 229);
  }
#salDisplay {
      text-align: left;
      border-bottom: 2px solid;
      border-bottom-color: black;
      padding-bottom: 0;
  }